name: test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  lint-valid:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up cmake and shellcheck
      run: |
          sudo apt-get install -y cmake shellcheck

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3'
        bundler-cache: true

    - name: Install rubocop
      run: |
          gem install rubocop

    - name: Run tests
      run: |
          ./scripts/run_tests.sh

